@addTagHelper *,TCV.Shared
@model PagedList<BlogPost>
<div class="col-md-3">
    <aside class="sidebar">
        <h4>Recent Posts</h4>
        <ul class="simple-post-list">
            @foreach (var item in Model.Content)
            {

                <li>
                    <div class="post-image">
                        <div class="img-thumbnail">
                            <a href="@Url.Action("Details","BlogPost",new { id = item.Id })">
                                <img src="../img/demos/shop/blog/blog-shop-1.jpg" alt="Post">
                            </a>
                        </div>
                    </div>
                    <div class="post-info">
                        <a href="@Url.Action("Details","BlogPost",new { id = item.Id })">@Html.DisplayFor(m => item.Title)</a>
                        <div class="post-meta">
                            @Html.DisplayFor(m => item.CreateTime)
                        </div>
                    </div>
                </li>

            }
        </ul>
        <h4>Tags</h4>
        <div class="tagcloud">
            <a href="#">News</a>
            <a href="#">Blog</a>
            <a href="#">ShareKnowlege</a>
        </div>

    </aside>
</div>