<div id="modalContainer" class="modal fade">
    <div id="modalDialog" class="modal-dialog" style="width: 640px;">
        <div id="modalContent" class="modal-content">
        </div>
    </div>
</div>
