<header class="header fixed clearfix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="header-left clearfix">
                    <div class="logo">
                        <a href="/Home"><img id="logo" src="~/img/logo.png" alt="Logo"></a>
                    </div>
                    <div class="site-slogan">
                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="header-right clearfix">
                    <div class="main-navigation animated">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="container-fluid">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainMenuBar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>
                                <div class="collapse navbar-collapse" id="mainMenuBar">
                                    <ul class="nav navbar-nav navbar-right">
                                        @*<li>
                                            <a href="@Url.Action("Index", "Member")"><i class="fas fa-user"></i> Tài khoản</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Cash")"><i class="fas fa-dollar-sign"></i> Thanh toán</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Game")"><i class="fas fa-gamepad"></i> Hoạt động</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Support", "Home")"><i class="fas fa-question-circle"></i> Hỏi đáp</a>
                                        </li>*@
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
