<div class="container">

    <h1 class="mainbox-title">

        <span><span>TRUNG TÂM TRỢ GIÚP</span></span>


    </h1>


    <div class="row">

        <div class="col-md-4">
            <div class="featured-box featured-box-primary">
                <div class="box-content">
                    <ul class="list list-icons align-left">
                        <li><i class="fa fa-check"></i>CÂU HỎI THƯỜNG GẶP</li>
                        <li><i class="fa fa-check"></i>HƯỚNG DẪN MUA HÀNG</li>
                        <li><i class="fa fa-check"></i>CHÍNH SÁCH GIAO HÀNG</li>
                        <li><i class="fa fa-check"></i>CHÍNH SÁCH VẬN CHUYỂN</li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="toggle toggle-primary mt-lg" data-plugin-toggle>
                <section class="toggle">
                    <label>Mua hàng như thế nào?</label>
                    <div class="toggle-content">
                        <h3>&nbsp;</h3>

                        <h2 style="text-align: center;"><span style="color:#FF8C00;"><span style="font-size:22px;"><strong>QUYỀN LỢI CỦA CÁC BẠN KHI MUA HÀNG TẠI TICIVI</strong></span></span></h2>

                        <p>&nbsp;</p>

                        <p>-Các bạn được ăn thử hàng khi giao đến, nếu thấy không đạt chất lượng cứ từ chối nhận hàng không mất gì ạ.</p>

                        <p>-Khi mua về rồi,&nbsp; ăn thử 50gr đầu, phát hiện mốc ẩm, hôi dầu,hoặc&nbsp; phát hiện&nbsp;&nbsp;sâu vượt quá mức cam kết 3% mà TiCiVi cam kết, các bạn được đổi trả vô điều kiện mà sẽ không mất một phí nào ạ ( trường hợp các bạn ăn trên 50gr mà muốn đổi trả vì những lý do kém chất lượng, TiCiVi vẫn đổi trả cho các bạn, ăn hết bao nhiêu tính bấy nhiêu thôi ạ). Vì TiCiVi tin vào sản phẩm của TiCiVi bán chất lượng, nên khâu đổi trả TiCiVi vẫn thành tâm KHÔNG tính toán thiệt hơn. <strong>Bán hàng cho các bạn rồi TiCiVi vẫn phải có trách nhiệm đằng sau đó, chứ không phải bán xong là “cao bay xa chạy đâu ạ”</strong></p>

                        <p>-Các bạn được quyền đổi trả hàng kém chất lượng trong vòng 15 ngày ạ, nên các bạn <strong>cứ kiểm tra thoải mái hàng</strong>, TiCiVi hoàn toàn đồng ý ạ. Vì các bạn càng kiểm tra kỹ khi nhận hàng thì đó là may mắn của TiCiVi. Nên TiCiVi hi vọng các bạn cứ kiểm tra kĩ vào nhé.</p>

                        <p>-TiCiVi giao hàng tới mà bị bể nát do sự cố giao hàng, TiCiVi cũng xin nhận trách nhiệm này ạ</p>

                        <p>-Hàng mất mát trên đường giao , đặc biệt đi tỉnh, TiCiVi cũng xin chịu trách nhiệm ạ.</p>
                    </div>
                </section>
                <section class="toggle">
                    <label>Vận chuyển như thế nào? </label>
                    <div class="toggle-content">
                        <div>
                            <h4 style="text-align: center;"><span style="color: #ff0000;"></span></h4>

                            <h2 style="text-align: center;"><span style="color:#FF8C00;"><strong>KHÁCH HÀNG KHU VỰC HCM</strong></span></h2>

                            <p>&nbsp;</p>

                            <p><strong>– Th</strong><strong>ờ</strong><strong>i gian làm vi</strong><strong>ệc</strong><strong>:</strong>&nbsp;TiCiVi giao hàng khu vực nội thành HCM, vì nhờ công ty giao hàng giao, nên chỉ giao hàng từ Thứ 2 – Thứ 7, &nbsp;Chủ Nhật nghỉ. Giao hàng xong mới nhận tiền ạ. Ship 15k, đặt hôm nay, giao ngày mai. Còn giao gấp thì tùy khu vực sẽ căn cứ theo giá Grab và Ahamove ạ</p>

                            <p>–<strong>&nbsp;</strong><strong>Mua trự</strong><strong>c ti</strong><strong>ế</strong><strong>p:</strong>&nbsp;các bạn có thể đến tận nhà TiCiVi mua tại <strong>34 Đường số 4, Phường 11, Quận Gò Vấp, TP Hồ Chí Minh  0355 655 065 / 0343 216 024</strong></p>

                            <p>–&nbsp;<strong>Phí ship tậ</strong><strong>n nhà:&nbsp;</strong>Phí ship nội thành là 15k. Đặt hàng hôm nay, giao hàng ngày hôm sau. Trường hợp giao gấp hoặc hẹn giờ thì LÊ sẽ nhờ Grab giao cho các bạn, phí Ship cụ thể tùy theo khu vực ạ.</p>

                            <p>– Khách hàng đặt 3kg trở lên, TiCiVi sẽ free ship ạ . Các bạn ở ngoại thành, mua trên 3kg ship 15k</p>

                            <p>– Khách hàng ở các quận 9, 12, Bình Tân, Thủ Đức,. Vì lý do xa quá, TiCiVi xin phép thu ship cao hơn nhé. Là 30k/lượt. Đặt hàng hôm nay, giao hôm sau ạ. Hóc Môn, Bình Chánh,Nhà Bè, Củ Chi ship 35-40k ạ.</p>

                            <p><strong>– Các b</strong><strong>ạ</strong><strong>n cứ kiểm tra hàng thật kĩ lưỡng khi giao đến,</strong><strong>&nbsp;n</strong><strong>ế</strong><strong>u hàng kém ch</strong><strong>ấ</strong><strong>t l</strong><strong>ượ</strong><strong>ng nh</strong><strong>ư</strong><strong> m</strong><strong>ố</strong><strong>c, </strong><strong>ẩ</strong><strong>m, hôi d</strong><strong>ầ</strong><strong>u, TiCiVi s</strong><strong>ẵ</strong><strong>n sàng c</strong><strong>ử</strong><strong> nhân viên t</strong><strong>ớ</strong><strong>i t</strong><strong>ậ</strong><strong>n nhà các b</strong><strong>ạ</strong><strong>n thu h</strong><strong>ồ</strong><strong>i l</strong><strong>ạ</strong><strong>i, hoàn ti</strong><strong>ề</strong><strong>n, ho</strong><strong>ặ</strong><strong>c đ</strong><strong>ổ</strong><strong>i tr</strong><strong>ả</strong><strong> mà không thu thêm b</strong><strong>ấ</strong><strong>t kì kho</strong><strong>ả</strong><strong>n phí nào </strong><strong>ạ</strong><strong>. </strong>( Nhưng TiCiVi nghĩ sẽ ít có khả năng đó, vì bên TiCiVi luôn rang hàng mới, bán tới đâu, rang tới đó ạ )</p>

                        </div>
                    </div>
                </section>
                <section class="toggle">
                    <label>Khi nào được đổi trả?</label>
                    <div class="toggle-content">

                        <p style="text-align: center;"><strong><span style="font-size:22px;"></span></strong></p>

                        <h2 style="text-align: center;"><span style="color:#FF8C00;"><strong><span style="font-size:22px;">TỪ CHỐI ĐỔI TRẢ DÀNH CHO NHỮNG LÝ DO SAU ĐÂY:</span></strong></span></h2>

                        <p>&nbsp;</p>

                        <p><strong>-Thuộc về khẩu vị:</strong>&nbsp;TiCiVi bán theo khẩu vị chung là KHÔNG&nbsp;rang mặn, mà VỪA VỊ, HƠI NHẠT&nbsp;để trẻ con, người già, người ốm đều có thể ăn được. Nên các bạn đổi trả vì lý do nhạt quá, hoặc mặn quá thì TiCiVi xin từ chối đổi trả nha, vì khẩu vị mỗi người mỗi khác, nên không ai giống ai cả, TiCiVi chỉ rang theo khẩu vị chung thôi. (&nbsp;thật tế&nbsp; ngoài đời thì các anh chị mua xong bảo ăn không hợp khẩu vị xin đổi trả thì TiCiVi vẫn chấp nhận, phí ship các bạn chịu ạ)</p>

                        <p>-Hàng mua đã quá 15 ngày&nbsp; TiCiVi từ chối đổi trả ( thật tế thì tính TiCiVi hay mềm lòng, thỉnh thoảng vẫn chấp nhận đổi trả, chỉ là ship các anh chị chịu thôi )</p>

                        <p><strong>-Bảo quản sai cách.</strong>&nbsp;Vì thỉnh thoảng có khách hàng TiCiVi dặn bỏ tủ lạnh với hàng tươi nhưng các bạn để nhiệt độ thường nó bị hỏng. Nên trường hợp này TiCiVi sẽ không nhận đổi trả ạ. Còn hàng rang khui ra để nhiệt độ thường sẽ dễ bị yểu, đặc biệt miền Bắc độ ẩm rất cao càng mau yểu, TiCiVi cũng từ chối đổi trả nếu các bạn đã khui ra và bảo quản sai cách ạ ( bỏ vào tủ lạnh để duy trì độ giòn)</p>

                        <p><strong>-Mua tại đại lý:</strong>&nbsp;Đại lý khác chi nhánh là người ta không độc quyền phân phối hạt của TiCiVi mà còn bán nhiều thứ khác, và bán các thương hiệu khác. Nếu các bạn mua tại Đại Lý thì liên hệ đại lý bảo hành nhé. Nếu mua hàng tại <a href="http://hatdieu.org/chi-nhanh/">chi nhánh</a> trực tiếp của TiCiVi thì TiCiVi luôn cam kết đổi trả, vì hàng luôn luôn mới. Nhưng đại lý thì vấn đề hàng mới hay không tùy thuộc vào sức bán của họ. Nên các bạn liên hệ họ để được bảo hành nhé.</p>

                        <p style="text-align: right;"><em><font color="#ff8c00"><b>Yêu các bạn !&nbsp;</b></font><font color="#ff8c00"><b>TiCiVi&nbsp;</b></font></em></p>
                    </div>
                </section>

            </div>
        </div>
    </div>



</div>