@{
    ViewBag.Title = "Reset password confirmation";
}
<div class="container about-container" style="text-align:center">
    <div class="row">
        <div class="col-md-12">
            <h1>@ViewBag.Title.</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="lead">
                Your password has been reset. Please <a asp-controller="Account" asp-action="Login">Click here to log in</a>.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr class="medium">
        </div>
    </div>
</div>