<div role="main" class="main">
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-md-push-3 my-account">

            </div>
            <div class="col-md-3 col-md-pull-9">
                <aside class="sidebar">
                    <h4>Tài khoản của tôi</h4>
                    <ul class="nav nav-list">
                        <li><a href="@Url.Action("Index","Manage")">Tổng quan</a></li>
                        <li><a href="@Url.Action("ChangePassword","Manage")">Thông tin</a></li>
                        <li class="active"><a href="#">Đơn hàng</a></li>
                        <li><a href="@Url.Action("Index","wish")">Yêu thích</a></li>
                    </ul>
                </aside>
            </div>
        </div>
    </div>
</div>